@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  position: relative;
  margin: 0;
  margin-top: 40px;
  padding-top: 23px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 151px;


  background-color: #f7e296;
  background-image: url("../img/pattern-yellow.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-page::after {
  content: '';

  position: absolute;
  top: 225px;
  right: 460px;

  width: 100px;
  height: 7px;
  background-color: #fff;
}

.inner-page .main-navigation {
  padding-bottom: 38px;
  margin-bottom: 38px;
}

.header-logo {
  position: absolute;
  top: -19px;
  left: 59px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.search-form::before {
  content: '';
  width: 20px;
  height: 20px;

  position: absolute;
  top: 26px;
  left: 1px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-form .search-field {
  height: 35px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-left: 39px;
  padding-bottom: 1px;

  font-weight: 300;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.search-button {
  display: none;
  position: absolute;
  top: 17px;
  left: 355px;
  width: 85px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  border-bottom: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
}

.search-button::after {
  content: '';
  display: none;

  position: absolute;
  top: 36px;
  left: -357px;
  width: 440px;
  height: 2px;
  background-color: #000000;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-field:hover {
  opacity: 0.6;
}

.search-field:focus {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  opacity: 1;
}

.search-field:focus + .search-button {
  display: block;
}

.search-field:focus + .search-button::after {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

.user-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 33px;
  padding-top: 17px;
}

.user-navigation {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user-navigation li:first-child {
  margin-left: 27px;
}

.user-navigation li:nth-child(2) {
  margin-left: auto;
  margin-right: 63px;
}

.user-navigation-item:first-child a::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;

  position: absolute;
  right: 486px;
  top: 27px;

  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-item:nth-last-of-type(2) a::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;

  position: absolute;
  right: 201px;
  top: 28px;

  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-item:last-child a::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;

  position: absolute;
  right: 70px;
  top: 27px;

  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.inner-page .user-navigation-item:first-child {
  margin-left: 26px;
}

.inner-page .user-navigation-item:nth-child(2) {
  margin-left: 19px;
  margin-right: 84px;
  opacity: 0.3;
}

.inner-page .user-navigation-item:nth-child(4) {
  margin-left: auto;
}

.inner-page .user-name {
  letter-spacing: 0.25px;
}

/*.user-navigation-item:last-child a {*/
  /*letter-spacing: -0.2px;*/
/*}*/

.site-navigation-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9px;
}

.site-navigation-catalog {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.site-navigation-item > a::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 5px;
  left: 228px;

  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.site-navigation {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation li:first-child {
  margin-right: 34px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:last-child {
  margin-right: -4px;
}

.site-navigation-catalog,
.site-navigation {
  margin: 0;
  padding: 0;
  letter-spacing: 3.6px;
}

.user-navigation,
.site-navigation-catalog,
.site-navigation,
.sub-menu {
  list-style: none;
}

.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  position: absolute;
  top: 30px;
  left: -60px;

  width: 1100px;
  height: 108px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 36px;
  padding-left: 60px;

  list-style: none;
  background-color: #f7e296;
  display: none;
}

.sub-menu li:nth-last-of-type(2) {
  height: 37px;
}

.sub-menu li {
  margin-right: 60px;
}

.site-navigation-catalog a,
.site-navigation a {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.user-navigation a,
.sub-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.15px;
}

.site-navigation a:hover,
.user-navigation-catalog a:hover,
.user-navigation a:hover,
.sub-menu a:hover {
  opacity: 0.6;
}

.site-navigation-catalog:hover .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.site-navigation-catalog a:active,
.site-navigation a:active,
.user-navigation a:active,
.sub-menu a:active {
  opacity: 0.3;
}

.product-slider {
  position: relative;
}

.product-slider input {
  display: none;
}

.slider-controls {
  position: absolute;
  right: 62px;
  bottom: 138px;

  text-align: center;
  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-right: 21px;

  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  margin-top: -111px;
}

#product1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 97px;
}

#product2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}

#product2:checked ~ .slider-controls {
  bottom: 140px;
}

#product3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 56px;
}

#product3:checked ~ .slider-controls {
  bottom: 235px;
}

#product1:checked ~ .slider-controls .slider-controls-item-1::after,
#product2:checked ~ .slider-controls .slider-controls-item-2::after,
#product3:checked ~ .slider-controls .slider-controls-item-3::after{
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 3px;
  height: 3px;

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);

  border: 1px solid black;
  border-radius: 50%;
}

.slider-item .slider-product-photo {
  margin-left: 90px;
  margin-right: 126px;
}

.slider-item:nth-child(2) .slider-product-photo {
  margin-left: 116px;
  margin-right: 138px;
  margin-top: 12px;
}

.slider-item:nth-child(3) .slider-product-photo {
  margin-left: 31px;
  margin-right: 42px;
  margin-top: 65px;
  margin-bottom: 137px;
}

.slider-product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 80px;
  width: 480px;
}

.slider-product-description:nth-child(3) {
  width: 520px;
  margin-right: 40px;
}

.slider-product-description:nth-child(3) b {
  letter-spacing: 0.7px;
}

.slider-product-description b {
  margin-top: 79px;
  margin-bottom: 19px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  text-transform: none;
  letter-spacing: 0.47px;
  color: #000000;
  z-index: 1;
}

.slider-product-description p {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  max-width: 495px;
  letter-spacing: 0.2px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.slider-item:nth-child(2) p {
  width: 450px;
}

.slider-item:nth-child(3) p {
  width: 460px;
  letter-spacing: 0.15px;
}

.button.slider-button {
  width: 220px;
  margin-left: 2px;
  margin-bottom: 55px;
}

.slider-table {
  width: 100%;
  border-collapse: collapse;
}

.slider-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-table-row th,
.slider-table-row td {
  text-align: left;
}

.slider-table-row:first-child {
  margin-left: -1px;
  margin-bottom: 11px;
}

.slider-table-row th:first-child {
  width: 157px;
}

.slider-table-row td:first-child {
  width: 157px;
  letter-spacing: 0.28px;
}

.slider-table-row th:nth-child(2) {
  width: 137px;
}

.slider-table-row td:nth-child(2) {
  width: 138px;
}

.slider-table-th {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.36px;
  color: #000;
}

.slider-table-td {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.product-slider-number {
  position: absolute;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.number01 {
  top: -15px;
  right: 46px;
}

.number02 {
  top: -14px;
  right: 47px;
}

.number03 {
  top: -14px;
  right: 46px;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 127px;
  padding: 0;
  list-style: none;
}

.popular-item {
  margin-bottom: 40px;
}

.popular-list li {
  position: relative;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
}

.svg1 {
  top: 53px;
  left: 31px;
}

.svg2 {
  top: 41px;
  left: 38px;
}

.svg3 {
  top: 38px;
  left: 49px;
}

.svg4 {
  top: 50px;
  left: 28px;
}

.svg5 {
  top: 32px;
  left: 55px;
}

.svg6 {
  top: 49px;
  left: 13px;
}

.popular-list a::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: #f7e296;
}

.popular-list li:not(:nth-child(6n)) {
  margin-right: 40px;
}

.popular-list a {
  display: block;
  width: 160px;
  text-align: left;
  letter-spacing: 0.18px;
  line-height: 21px;
}

.popular-item-name {
  display: inline-block;
  width: 125px;
}

.popular-list a::before {
  content: '';
  display: block;
}

.popular-list a:hover::before {
  background-color: #f0c52e;
}

.popular-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item-link:active .svg {
  fill-opacity: 0.3;
}

.popular-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
}

/*Второй слайдер*/

.features-slider-wrapper {
  margin: 0;
  padding: 0;
  min-height: 306px;
  margin-bottom: 94px;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff 18px, #e5e5e5 18px);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff 18px, #e5e5e5 18px);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff 18px, #e5e5e5 18px);
}

.features-slider-wrapper .container {
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff 18px, #e5e5e5 18px);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff 18px, #e5e5e5 18px);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff 18px, #e5e5e5 18px);
  min-height: 306px;
}

.features-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-slider input {
  display: none;
}

.features-slider-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 280px;
  margin-top: -2px;

  color: #000;
}

.features-slider-list::after {
  content: '';
  position: absolute;
  top: -82px;
  left: 277px;

  width: 7px;
  height: 319px;


  background-color: #000000;
}

.features-slider-list .button {
  width: 160px;
  z-index: 1;
}

#feature1:checked ~ .features-slider-list .button:first-child,
#feature2:checked ~ .features-slider-list .button:nth-child(2),
#feature3:checked ~ .features-slider-list .button:last-child {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  text-align: left;
  padding-left: 20px;
  background-color: #000000;
  color: #f7e184;
}

#feature1:checked ~ .features-slider-list .button:first-child::before,
#feature2:checked ~ .features-slider-list .button:nth-child(2)::before,
#feature3:checked ~ .features-slider-list .button:last-child::before {
  background-color: #000000;
}

.features-slider-list .button:first-of-type {
  margin-bottom: 24px;
}

.features-slider-list .button:nth-of-type(2) {
  margin-left: 2px;
  margin-bottom: 25px;
}

.features-slider-list .button:last-of-type {
  margin-left: 1px;
}

.features-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 760px;
}

.features-slider-item h3 {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 40px;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.47px;
  color: #000;
}

.features-slider-item p {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.features-slider-item h3,
.features-slider-item p {
  width: 460px;
}

.features-slider-item:nth-child(7) p {
  width: 435px;
  letter-spacing: 0.29px;
}

.features-slider-item:nth-of-type(2) .features-slider-text {
  letter-spacing: 0.28px;
}

.features-slider-item:nth-of-type(3) .features-slider-text {
  letter-spacing: 0.25px;
}

.feature-slider-photo {
  position: absolute;
}

.delivery {
  right: 66px;
  top: 3px;
}

.warranty {
  top: -21px;
  right: 46px;
}

.credit {
  top: -21px;
  right: 70px;
}

.features-slider-item {
  display: none;
}

#feature1:checked ~ .features-slider-item:nth-child(5),
#feature2:checked ~ .features-slider-item:nth-child(6),
#feature3:checked ~ .features-slider-item:nth-child(7) {
  display: block;
}

.logotypes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 137px;
  padding: 0;
  list-style: none;
}

.logotypes-list li {
  display: inline-block ;
  vertical-align: top;
  margin-right: 40px;
}

.logotypes-list-item:first-of-type:hover img {
  background-image: url(../img/logo-1.png);
}

.logotypes-list-item:nth-of-type(2):hover img {
  background-image: url(../img/logo-2.png);
}

.logotypes-list-item:nth-of-type(3):hover img {
  background-image: url(../img/logo-3.png);
}

.logotypes-list-item:last-of-type:hover img {
  background-image: url(../img/logo-4.png);
}

.logotypes-list li:nth-child(4n) {
  margin-right: 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us,
.contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 460px;
}

.contacts {
  width: 560px;
}

.info h3 {
  margin: 0;
  margin-left: -2px;
  padding: 0;
  padding-bottom: 43px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 47px;
  letter-spacing: 0.47px;
  color: #000;
}

.about-us::after {
  content: '';

  position: absolute;
  top: -53px;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts::after {
  content: '';

  position: absolute;
  top: -53px;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts img {
  cursor: pointer;
  margin-top: 9px;
}

.info p {
  margin: 0;
  margin-left: -1px;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.info p:first-of-type {
  padding-bottom: 30px;
  letter-spacing: 0.13px;
}

.info .contacts-text:first-of-type {
  letter-spacing: 0.1px;
}

.about-us p {
  width: 470px;
}

.about-us p:last-of-type {
  padding-bottom: 66px;
  letter-spacing: -0.15px;
}

.partners-list {
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
  list-style: none;
  padding-left: 36px;
}

.info .button {
  margin-top: auto;
  margin-bottom: 82px;
  margin-left: 1px;
}

.partners-list li {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.partners-list li::before {
  content: '';
  position: absolute;
  left: -35px;
  top: 16px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  padding: 5px 0;
  border: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;
  cursor: pointer;
}

.inner-page .button {
  width: 220px;
}

.button::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
}

.button:hover,
.button:active {
  background: #ecc23f;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  /*min-width: 1200px;*/
  background-color: #464646;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  position: relative;
  padding-top: 60px;

  background-color: #464646;
  background-image: url("../img/pattern-dark.jpg");
}

.main-footer .container::after {
  content: '';

  position: absolute;
  left: 20px;
  bottom: 80px;

  width: 80px;
  height: 7px;
  background-color: #ecc23f;
}

.footer-user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 37px;
}

.footer-logo {
  position: absolute;
  top: 5px;
  left: -1px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.main-footer a {
  color: #ffffff;
}

.footer-user-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  font-size: 15px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-navigation-item:first-child a::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 8px;
  left: -29px;

  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-navigation-item:nth-child(2) a::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 9px;
  left: 83px;

  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-navigation-item:last-child a::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 8px;
  left: 214px;

  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-navigation li:first-child {
  margin-left: 2px;
}

.footer-user-navigation a {
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.footer-address,
.footer-tel {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.footer-address {
  margin-right: auto;
}

.footer-tel {
  margin-left: auto;
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 470px;
  margin-left: 5px;
}

.footer-site-navigation li {
  letter-spacing: 3.6px;
  margin-right: 32px;
}

.footer-site-navigation li:first-child {
  margin-right: 34px;
}

.footer-site-navigation li:nth-child(2) {
  margin-right: 32px;
}

.footer-site-navigation li:last-child {
  margin-right: 37px;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 67px;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  margin-right: -25px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 11px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-insta {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.copyright{
  margin-left: auto;
  width: 27px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.copyright a {
  display: block;
  width: 27px;
  height: 35px;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.contacts-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
}

.contacts-form input[type="text"],
.contacts-form textarea {
  background-color: #f2f2f2;
  border: 0;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 47px;
  letter-spacing: 0.6px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 18px;
}

.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 37px;
  letter-spacing: 0.14px;
}

.breadcrumbs li:first-child::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;

  position: absolute;
  top: 13px;
  left: 65px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs li:nth-child(2)::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;

  position: absolute;
  top: 13px;
  left: 216px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs a {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.inner-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bg-color-container {
  background-image:
    -webkit-gradient(linear, left top, right top, color-stop(0, #dbdbdb), color-stop(50%, #dbdbdb), color-stop(50%, #ebebeb), to(#ebebeb)),
    -webkit-gradient(linear, left top, right top, color-stop(0, #eeeeee), color-stop(50%, #eeeeee), color-stop(50%, #ffffff), to(#ffffff));
  background-image:
    -webkit-linear-gradient(left, #dbdbdb 0, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%),
    -webkit-linear-gradient(left, #eeeeee 0, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
  background-image:
    -o-linear-gradient(left, #dbdbdb 0, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%),
    -o-linear-gradient(left, #eeeeee 0, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
  background-image:
    linear-gradient(to right, #dbdbdb 0, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%),
    linear-gradient(to right, #eeeeee 0, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 100% 70px, 100% 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  background-image:
    -webkit-linear-gradient(left, #dbdbdb 0, #dbdbdb 330px, #ebebeb 330px, #ebebeb 100%),
    -webkit-linear-gradient(left, #eeeeee 0, #eeeeee 330px, #ffffff 330px, #ffffff 100%);

  background-image:
    -o-linear-gradient(left, #dbdbdb 0, #dbdbdb 330px, #ebebeb 330px, #ebebeb 100%),
    -o-linear-gradient(left, #eeeeee 0, #eeeeee 330px, #ffffff 330px, #ffffff 100%);

  background-image:
    linear-gradient(to right, #dbdbdb 0, #dbdbdb 330px, #ebebeb 330px, #ebebeb 100%),
    linear-gradient(to right, #eeeeee 0, #eeeeee 330px, #ffffff 330px, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 100% 70px, 100% 100%;
}

.column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 270px;
  margin-left: 60px;
}

.column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 760px;
}

.filters-form {
  padding-top: 98px;
}

.filters-fieldset-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  border: none;
}

.filters-fieldset-item legend::before {
  content: '';

  position: absolute;

  width: 201px;
  height: 2px;
  background-color: #000000;
}

.filters-fieldset-item:nth-child(1) legend::before {
  bottom: 147px;
  left: -1px;
}

.filters-fieldset-item:nth-child(2) legend::before {
  bottom: 292px;
  left: -1px;
}

.filters-fieldset-item:nth-child(3) legend::before {
  bottom: 168px;
  left: -1px;
}

.filters-fieldset-item:first-child {
  padding-bottom: 42px;
}

.filters-fieldset-item:nth-child(2) {
  padding-bottom: 40px;
}

.filters-fieldset-item:nth-child(3) {
  padding-bottom: 36px;
}

.range-filter {
  width: 200px;
  margin-top: 32px;
}

.range-controls {
  position: relative;

  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -6px;
}

.range-controls .toggle-max {
  left: 107px;
}

.price-controls {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-controls .price-label {
  margin: 0;

  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls .price-input {
  width: 50px;

  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);

  border: none;
  background-color: transparent;
}

.price-controls .price-label:first-of-type {
  margin-top: 1px;
  margin-right: 3px;
}

.price-controls .price-label:nth-of-type(2) {
  margin-right: 4px;
}

.price-controls .price-input:first-of-type {
  margin-right: 22px;
}

.filter-input {
  display: none;
}

.filters-fieldset-item:nth-child(2) legend,
.filters-fieldset-item:nth-child(3) legend {
  padding-bottom: 15px;
}

.filters-fieldset-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 38px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000;
}

.filter-input + label::after {
  content: '';
  position: absolute;
  left: -40px;
  top: 8px;

  width: 30px;
  height: 30px;
}

.filter-input-radio + label::after {
  left: -40px;
  top: 6px;
}

.filter-input-checkbox + label::after {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input-radio + label::after {
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::after {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-input + label:hover::after {
  opacity: 0.6;
}

.filter-input + label:active::after,
.filter-input:checked + label:active::after {
  opacity: 1;
}

.filter-input:disabled + label::after,
.filter-input:disabled + label:active::after {
  opacity: 0.25;
}

.inner-page .filters-form-button {
  width: 200px;
  background-color: transparent;
  z-index: 0;
}

.inner-page .filters-form-button:hover {
  background-color: #ecc23f;
}

.filters legend {
  margin-left: -1px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000;
  letter-spacing: 0.18px;
}

.filters h2 {
  margin: 0;
  margin-left: 1px;
  padding: 0;
  padding-top: 20px;
  text-transform: uppercase;
}

.sort-and-filter-heading {
  margin-left: 1px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3.4px;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.items-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 760px;
  min-height: 70px;

  padding-left: 70px;
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ebebeb), to(#ebebeb));
  background-image: -webkit-linear-gradient(left, #ebebeb 0, #ebebeb 100%);
  background-image: -o-linear-gradient(left, #ebebeb 0, #ebebeb 100%);
  background-image: linear-gradient(to right, #ebebeb 0, #ebebeb 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.items-sorting + div {
  max-width: 150px;
}

.items-sorting-left,
.items-sorting-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.column-right h2 {
  margin-right: 53px;
  letter-spacing: 3.6px;
}

.items-sorting-left {
  width: 320px;
  padding-bottom: 4px;
  font-weight: 400;
}

.items-sorting-left li {
  margin-right: 30px;
}

.items-sorting-left li:first-of-type {
  margin-right: 30px;
}

.items-sorting-left li:nth-of-type(2) {
  margin-right: 33px;
}

.items-sorting-left .active {
  opacity: 1;
}

.items-sorting-left a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.items-sorting-left a:hover {
  opacity: 0.6;
}

.items-sorting-left a:active {
  opacity: 1;
}

.items-sorting-right {
  position: relative;
  margin-left: auto;
}

.sorting-arrow {
  position: absolute;
}

.arrow-up {
  top: -16px;
  left: -41px;
  opacity: 0.2;
}

.arrow-down {
  top: -16px;
  left: -11px;
  opacity: 1;
}

.arrow-up:hover {
  opacity: 0.4;
}

.arrow-up:active,
.arrow-down:active {
  opacity: 1;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 760px;
  margin-top: -1px;

  margin-left: 70px;
}

.catalog-item {
  position: relative;
  margin-right: 40px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 0;
}

.catalog-item:nth-of-type(2) a {
  line-height: 20px;
  margin-top: 6px;
}

.catalog-item:nth-of-type(4) a {
  line-height: 20px;
  margin-top: 7px;
}

.catalog-item img {
  margin-top: 70px;
  margin-bottom: 35px;
}

.item-hover {
  display: none;
}

.item-hover a:first-child {
  width: 200px;
  position: absolute;
  top: 241px;
  left: 81px;
  z-index: 5;
}

.item-hover a:last-child {
  position: absolute;
  top: 287px;
  left: 111px;
  z-index: 5;
}

.item-hover a:last-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.item-hover a:hover {
  opacity: 1;
}

.item-hover a:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item:hover .item-hover {
  display: block;
}

.catalog-item .catalog-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: -16px;
  margin-bottom: -18px;
  padding: 0;
}

.item-new {
  position: absolute;
  top: 115px;
  right: 39px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

.item-new::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: -37px;
  right: -32px;
  background-image: url(../img/round_shape.png);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item-title > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  width: 260px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-top: 1px;
}

.catalog-item-title > .catalog-item-three {
  letter-spacing: 0.1px;
}

.catalog-item-title .catalog-item-name {
  width: 230px;
  line-height: 26px;
}

.catalog-item-title > span {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 2px;
  letter-spacing: 0.15px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  margin-top: 58px;
  margin-bottom: 77px;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;

  margin-left: 70px;
}

.pagination-list li {
  padding-bottom: 18px;
  padding-top: 20px;
}

.pagination-item:first-child {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 209px;
}

.pagination-item:last-child {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
}

.pagination-item-current,
.pagination-item:nth-child(3),
.pagination-item:nth-child(4) {
  margin-top: 1px;
}

.pagination-item-current,
.pagination-item:nth-child(3) {
  margin-right: 28px;
}

.pagination-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item:hover a {
  opacity: 0.6;
}

.pagination-item:active a {
  opacity: 1;
}

.pagination-item:first-child a,
.pagination-item:last-child a,
.pagination-item-current a {
  opacity:1 ;
}

.pagination-item:hover:first-child,
.pagination-item:hover:last-child {
  background-color: #d9d9d9;
}

.pagination-item:active:first-child a,
.pagination-item:active:last-child a {
  opacity: 0.3;
}

/*Modal*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.iframe-map {
  width: 100%;
  height: 100%;
  frameborder: 0;
}

.modal {
  position: fixed;
  z-index: 1000;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  display: none;
  width: 960px;
  height: 553px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 19px;
  right: 20px;

  width: 60px;
  height: 60px;
  border: none;
  opacity: 0.5;

  background-color: transparent;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;
}

.modal-close-button:hover {
  opacity: 1;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-contacts {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-map {
  height: 560px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 960px;
  padding: 100px;
  padding-top: 96px;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(4, 6, 6, 0.75);
  box-shadow: 0px 20px 40px 0px rgba(4, 6, 6, 0.75);
}

.modal-contacts-form label {
  margin-bottom: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.modal-contacts-form input,
.modal-contacts-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 20px;
  margin-bottom: 36px;

  border: none;
  background-color: #f2f2f2;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}

.modal-contacts-form textarea {
  padding-bottom: 0;
  margin-bottom: 42px;
}

.modal-contacts-form input::-webkit-input-placeholder,
.modal-contacts-form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-contacts-form input:-ms-input-placeholder,
.modal-contacts-form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-contacts-form input::-ms-input-placeholder,
.modal-contacts-form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-contacts-form input::placeholder,
.modal-contacts-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-contacts-form input:hover,
.modal-contacts-form textarea:hover {
  background-color: #ebebeb;
}

.modal-contacts-form input:focus,
.modal-contacts-form textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.modal-contacts-form input:invalid,
.modal-contacts-form textarea:invalid {
  background-color: #f6dada;
}

.modal-contacts-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-contacts-form div:first-child,
.modal-contacts-form div:nth-child(2) {
  width: 360px;
}

.modal-contacts-form div:nth-child(3) {
  width: 100%;
}

.modal-contacts-form .modal-button {
  width: 200px;
  background-color: transparent;
}

.modal-contacts-form .modal-button:hover {
  background-color: #f0c52e;
}
