@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #464646;

  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  /*Временно для наглядности*/
  /*background-color: lightgrey;*/
}

.main-navigation {
  margin-top: 40px;
  padding: 0 60px;
  padding-top: 50px;
  margin-bottom: 0;

  /*Временно, чтобы отделить блоки*/
  margin-bottom: 50px;

  min-height: 250px;

  background-color: #f7e296;
  background-image: url("../img/pattern-yellow.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.header-logo {
  position: absolute;
  top: 20px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.search-form input {
  margin-left: 40px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  outline: none;
  opacity: 1;
  border-bottom: 2px solid black;
}

a {
  color: #000;
  text-decoration: none;
}

.user-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  max-height: 36px;
}

.user-navigation {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.user-navigation li:first-child {
  margin-right: auto;
}

.user-navigation li:nth-child(2) {
  margin-right: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

.site-navigation li:first-child {
  margin-right: auto;
}

.site-navigation li:last-child {
  margin-left: 110px;
}

.site-navigation > li:nth-last-child(2) {
  margin-left: 35px;
}

.user-navigation,
.site-navigation,
.sub-menu {
  list-style: none;
}

.sub-menu {
  display: none;
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.user-navigation a,
.sub-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.site-navigation a:hover,
.user-navigation a:hover,
.sub-menu a:hover {
  opacity: 0.6;
}

.site-navigation a:active,
.user-navigation a:active,
.sub-menu a:active {
  opacity: 0.3;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  list-style: none;
}

/*пока для наглядности*/
.popular-list li {
  position: relative;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
}

.popular-list li::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-right: 40px;

  background-color: #f7e296;
}

.popular-list a {
  display: block;
  width: 160px;
  text-align: left;
}


.popular-list a::before {
  content: '';
  display: block;
  padding-top: 35px;
}

.popular-list li:hover::before {
  background-color: #f0c52e;
}

.popular-item:active a {
  opacity: 0.3;
}

.popular-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/*Сделать позже логотипы компаний на фильтрах + ховер*/

.logotypes-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 150px;
  padding: 0;
  list-style: none;
}

.logotypes-list li {
  display: inline-block ;
  vertical-align: top;
}

.info {
  display: flex;
  justify-content: space-between;
}

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 460px;
  min-height: 550px;
  padding-bottom: 90px;
}

.contacts {
  width: 560px;
}

.info h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  margin: 0;
  padding: 0;
}

.info p {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  letter-spacing: -0.2px;
}

.partners-list {
  margin: 0;
}

.partners-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

form button,
.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

  background: linear-gradient(
    transparent 40%,
    #ecc23f 40%,
    #ecc23f 60%,
    transparent 60%
  );
}

form button {
  border: 0;
}

form button:hover,
.button:hover,
.button:active {
  background: #ecc23f;
}

form button:active,
.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  padding-top: 60px;
  min-height: 260px;

  background-color: #464646;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 36px;
  margin-bottom: 40px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.main-footer a {
  color: #ffffff;
}

.footer-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 15px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-navigation a {
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-address,
.footer-tel {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.footer-conditions {
  display: flex;
  justify-content: space-between;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  padding-bottom: 60px;
  /*background-color: lightblue;*/
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  font-size: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7e7e7e;
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-insta {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  margin-left: auto;
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.contacts-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.contacts-form input[type="text"],
.contacts-form textarea {
  background-color: #f2f2f2;
  border: 0;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 20px;
}

.breadcrumbs a {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

fieldset {
  border: 0;
}

.filters h2,
.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.filters h2 {
  text-transform: uppercase;
}

input:disabled + label {
  color: #a6a6a6;
}

b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.items-sorting-left,
.items-sorting-right {
  list-style: none;
}

.items-sorting-left .active {
  opacity: 1;
}

.items-sorting-left a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.items-sorting-left a:hover {
  opacity: 0.6;
}

.items-sorting-left a:active {
  opacity: 1;
}

h1 > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

h1 > span {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.item-hover a:last-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.item-hover a:hover {
  opacity: 1;
}

.item-hover a:active {
  opacity: 0.2;
}

.pagination-list {
  list-style: none;
  font-size: 0;
}

.pagination-list li {
  display: inline-block;
  background-color: #ebebeb;
  padding: 10px;
}

.pagination-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item:hover a {
  opacity: 0.6;
}

.pagination-item:active a {
  opacity: 1;
}

.pagination-item:first-child a,
.pagination-item:last-child a,
.pagination-item-current a {
  opacity:1 ;
}

.pagination-item:hover:first-child,
.pagination-item:hover:last-child {
  background-color: #d9d9d9;
}

.pagination-item:active:first-child a,
.pagination-item:active:last-child a {
  opacity: 0.3;
}
